<% @stories = NewsStory.all %>

<% if @stories.any? %>
  <h1 id="news_title">Cayuga's Watchers in the News</h1>
  <div id="accordion">
    <% @stories.each do |story| %>
    <h3>
      <%= link_to story.title, "#" %>
      <% if signed_in? && current_employee.exec? %>
        | <%= link_to "delete", story, method: :delete, 
                data: { confirm: "You sure?" } %>
      <% end %>
    </h3>
    <div>
      <p>
        <%= story.snippet %>... 
        <%= link_to "Want to read the full article?", story.url %>
      </p>
    </div>
    <% end %>
  </div>
<% end %>
<% if signed_in? && current_employee.exec? %>
  <div class="add span2">
    <%= link_to "Add new story?", new_news_story_path %>
  </div>
  <br><br>
<% end %>