<h1 id="meet">Meet Our Board</h1>
<div id="table">
  <div class="tableRow">
    <div class="tableCell">
        <%= image_tag("Eric picture.png", width: "150px") %>
          <h2>Eric Silverberg</h2>
          <h3>President and Co-Founder</h3>
      </div>
      <div class="tableCell">
        <%= image_tag("Hannah picture.png", width: "150px") %>
          <h2>Hannah James</h2>
          <h3>Director of Operations</h3>
      </div>
      <div class="tableCell">
        <%= image_tag("blank.jpg", width: "150px") %>
          <h2>Michael Riyad</h2>
          <h3>VP of Recruitment</h3>
      </div>
  </div>
  <div class="tableRow">
    <div class="tableCell">
        <%= image_tag("Mike picture.png", width: "150px") %>
          <h2>Mike Ostro</h2>
          <h3>VP of Outreach</h3>
      </div>
      <div class="tableCell">
        <%= image_tag("Kendall picture.png", width: "150px") %>
          <h2>Kendall Stokes</h2>
          <h3>VP of Training</h3>
      </div>
      <div class="tableCell">
        <%= image_tag("Sarah picture.png", width: "150px") %>
          <h2>Sarah Reitman</h2>
          <h3>VP of Internal Operations</h3>
      </div>
  </div>
  <div class="tableRow">
    <div class="tableCell">
        <%= image_tag("blank.jpg", width: "150px") %>
          <h2>Shane Moore</h2>
          <h3>VP of Scheduling</h3>
      </div>
      <div class="tableCell">
        <%= image_tag("blank.jpg", width: "150px") %>
          <h2>Noah Liff</h2>
          <h3>VP of Finance</h3>
      </div>
      <div class="tableCell">
        <%= image_tag("John picture.png", width: "150px") %>
          <h2>John Mueller</h2>
          <h3>Co-Founder</h3>
      </div>
  </div>
  <div class="tableRow">
    <div class="tableCell empty"></div>
      <div class="tableCell">
        <%= image_tag("Adam picture.png", width: "150px") %>
          <h2>Adam Gitlin</h2>
          <h3>Co-Founder</h3>
      </div>
      <div class="tableCell empty"></div>
  </div>
</div>