<% provide(:title, "Change password") %>

<div class="row">
  <div class="span6 offset3">
    <% if current_employee?(@employee) %>
      <h1>Change your password</h1>
      <%= form_for(@employee) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :password, "New password" %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirm new password" %>
        <%= f.password_field :password_confirmation %>

        <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
      <% end %>
    <% else %>
      <h2><%= @employee.name %></h2>
      <%= form_for(@employee) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.hidden_field :password, value: 'watchers123' %>

        <%= f.hidden_field :password_confirmation, value: 'watchers123' %>

        <%= f.submit "Reset Password", class: "btn btn-large btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>