<% provide(:title, 'Contact Us') %>
<h1>Get in touch</h1>
<div class="row">
  <div class="infoBox" id="first">
    <h3>
      Want to request the Watchers at your event? Fill out an 
      <%= link_to "event request form!", "https://docs.google.com/a/cayugaswatchers.org/spreadsheet/viewform?formkey=dG9QWkVSQ0paMkhtekVRWmxHcm5Xd1E6MQ#gid=0" %>
    </h3>
    <h3>Need to get in touch about something else?</h3>
    <div class="span6 offset3">
      <%= form_for(@message, url: contact_path) do |f| %>

        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :subject %>
        <%= f.text_field :subject %>

        <%= f.label :body %>
        <%= f.text_area :body %>

        <%= f.submit "Send", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
  </div>
</div>