<% provide(:title, "New Testimonial") %>
<h1>Add a new testimonial</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@testimonial) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :content %>
      <%= f.text_area :content %>

      <%= f.label :author %>
      <%= f.text_field :author %>

      <br>
      <%= f.submit "Add testimonial", class: "btn btn-large btn-primary" %>

    <% end %>
  </div>
</div>