<% @test = Test.find(1) %>

<header>
  <%= image_tag("CW Logo.png") %>
  <% if signed_in? %>
    <nav class="nav nav-tabs">
      <% if current_employee.netID != 'test123' %>
        <li 
          <% if yield(:title) == "All events" %>
            class="active"
          <% end %>
            ><%= link_to "Events", events_path %></li>
        <% if current_employee.exec? %>
          <li 
            <% if yield(:title) == "All employees" %>
              class="active"
            <% end %>
              ><%= link_to "Employees", employees_path %></li>
          <li 
            <% if yield(:title) == "New Event" %>
              class="active"
            <% end %>
              ><%= link_to "Add Event", new_event_path %></li>
          <li 
            <% if yield(:title) == "New employee" %>
              class="active"
            <% end %>
              ><%= link_to "Add Employee", new_employee_path %></li>
        <% end %>
        <li 
          <% if yield(:title) == "Change password" %>
            class="active"
          <% end %>
            ><%= link_to "Change Password", edit_employee_path(current_employee) %></li>
      <% end %>
      <% if signed_in? && !current_employee.exec? %>
        <li><%= link_to "Testing", @test.link %></li>
      <% elsif signed_in? && current_employee.exec? %>
        <li><%= link_to "Testing", edit_test_path(@test) %></li>
      <% end %>
      <li><%= link_to "Log out", signout_path, method:"delete" %>
    </nav>
  <% end %>
</header>