<header>
  <%= image_tag("CW Logo.png") %>
  <!-- if not logged in -->
  <div id="login">
    Already an employee? <%= link_to "Login here", "#" %>
  </div>
  <nav>
    <hr style='margin-top: -1px; width:90%; color: #990000;'>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Services", services_path %></li>
      <li><%= link_to "Testimonials", testimonials_path %></li>
      <li><%= link_to "Apply Now", apply_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
    <hr style='margin-top: -1px; width:90%; color: #990000;'>
  </nav>
</header>