<header>
  <%= image_tag("CW Logo.png") %>
  <div id="login">
    <% unless signed_in? %>
      Already an employee? <%= link_to "Login here", signin_path %>
    <% else %>
      <ul>
        <li><%= link_to "Logout", signout_path, method: "delete" %></li>
        <% if current_employee.exec? %>
          <li><%= link_to "Add employee", new_employee_path %></li>
          <li><%= link_to "View all employees", employees_path %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <nav>
    <hr style='margin-top: -1px; width:90%; color: #990000;'>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Services", services_path %></li>
      <li><%= link_to "Testimonials", testimonials_path %></li>
      <li><%= link_to "Apply Now", apply_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
    <hr style='margin-top: -1px; width:90%; color: #990000;'>
  </nav>
</header>