<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag("application", { media: "all", "data-turbolinks-track" => true }) %>
  <%= javascript_include_tag("application", { "data-turbolinks-track" => true }) %>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>

<body>
  <div id="container">
    <%= render 'layouts/header' %>
    <%= render 'layouts/sidebar' %>
    <div id="content">
      <% flash.each do |key,value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </div>
</body>
</html>
